<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is Home Page</h1>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque assumenda veniam libero est aliquam earum cum alias labore molestiae facere, sunt mollitia saepe, autem unde ab, possimus doloremque. Expedita, explicabo.
    Modi odio est impedit at dignissimos veritatis esse? Earum reprehenderit dolor animi odit eius tempora dignissimos in fugiat. Itaque suscipit vero illum, quam ipsam possimus beatae nisi harum molestiae distinctio?
    Vero, nulla. Fugit odit explicabo magnam magni recusandae atque architecto sed nulla? Optio asperiores, reiciendis fugit voluptates quidem possimus nulla molestiae deserunt unde repellendus earum totam rerum consequatur incidunt quasi.
    Odit adipisci quod libero ipsam, a eligendi unde facilis, eos officiis temporibus velit, quae in voluptates beatae modi ea laboriosam dolores eaque. Eaque doloribus magnam nemo provident distinctio exercitationem incidunt!
</p>
<button>Click Me !!</button>
</body>
</html>